# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/
.pnpm-store/

# Build e Produção
dist/
dist-ssr/
*.local

# Variáveis de ambiente e segredos
.env
.env.local
.env.*.local

# Editores e IDEs
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do sistema operacional e cache
.DS_Store
Thumbs.db
.eslintcache
.stylelintcache
