<div class="container-hero flex-column flex-lg-row pb-5 pb-lg-0 mb-5 mb-lg-0">
    <div class="container-canvas-foto col-sm-6 col-lg-6 pt-5 pt-lg-0 mt-5 mt-lg-0">
        <div class="container-foto-mobile d-flex justify-content-center align-items-center d-lg-none">
            <img id="foto-perfil-hero" src="" alt="foto de perfil" class="mb-4">
        </div>
        <div class="container-canvas-renderer d-none d-lg-flex">
           <img id="foto-hero-lg" src="" alt="foto perfil">
        </div>
    </div>
    <div class="container-texto-hero col-10 col-lg-6 text-center text-lg-start">
        <p>Olá, sou o</p>
        <h1 id="nome-hero" class="my-4"></h1>
        <p class="subtitulo-hero">Desenvolvedor Full Stack em formação.</p>
    </div>
</div>