<section class="section-experiencia d-flex flex-column align-items-center">
    <title-section texto-titulo="experiência"></title-section>
    <div class="container-visivel-experiencia container d-flex d-lg-block justfy-content-center align-items-center">
        <div class="container-conteudo-experiencia flex-column flex-lg-row">
            <card-experiencia-section texto-data="Dez" texto-titulo="Curso - Python" texto-tipo="Curso" skills="python,lógica,api,Django"></card-experiencia-section>   
            <card-experiencia-section texto-data="Dez" texto-titulo="Curso - Python" texto-tipo="Trabalho" skills="python,lógica,api,Django"></card-experiencia-section>
            <card-experiencia-section texto-data="Dez" texto-titulo="Curso - Python" texto-tipo="Conquista" skills="python,lógica,api,Django"></card-experiencia-section>
            <card-experiencia-section texto-data="Dez" texto-titulo="Curso - Python" texto-tipo="Curso" skills="python,lógica,api,Django"></card-experiencia-section>
            <card-experiencia-section texto-data="Dez" texto-titulo="Curso - Python" texto-tipo="Curso" skills="python,lógica,api,Django"></card-experiencia-section>
            <card-experiencia-section texto-data="Dez" texto-titulo="Curso - Python" texto-tipo="Curso" skills="python,lógica,api,Django"></card-experiencia-section>
            <card-experiencia-section texto-data="Dez" texto-titulo="Curso - Python" texto-tipo="Curso" skills="python,lógica,api,Django"></card-experiencia-section>
        </div>
    </div>
</section>