 <header class="navbar navbar-expand-lg fixed-top header p-3 pt-md-3 p-md-1" id="header">
        <div class="container-fluid p-lg-2 flex-nowrap justify-content-between">
            <div class="container-arredondado-glassmorphism p-2 col-5 d-block d-lg-none">
                <a class="d-flex justify-content-center align-items-center" href="./public/images.jpeg" download="Currículo-LeonardoMagno.pdf" id="btn-curriculo">Currículo</a>
            </div>
            <button class="navbar-toggler btn btn-outline-secondary col-3 col-sm-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" aria-label="Abrir menu">
                <div class="container-menu-hamburguer gap-2 justify-content-between">
                    <div class="my-2 container-arredondado-glassmorphism barra-menu-hamburguer"></div>
                    <div class="my-2 container-arredondado-glassmorphism barra-menu-hamburguer"></div>
                    <div class="my-2 container-arredondado-glassmorphism barra-menu-hamburguer"></div>
                </div>
            </button>
            <div class="offcanvas offcanvas-end flex-lg-row justify-content-around" id="offcanvasNav">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
                </div>
                <ul class="nav nav-pills container-arredondado-glassmorphism offcanvas-body flex-nowrap p-2 d-flex flex-column flex-lg-row col-lg-8 gap-2 justify-content-top justify-content-lg-around text-center"
                    id="container-nav">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#hero">Início</a>
                    </li>
                    <li class="nav-item dropdown" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#sobre">Sobre</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#projetos">Projetos</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#experiencia">Experiência</a>
                    </li>
                    
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#contato">Contatos</a>
                    </li>
                    <li class="container-arredondado-glassmorphism d-block d-lg-none">
                        <a class="nav-link" href="./public/images.jpeg" download="teste.jpeg">Currículo</a>
                    </li>
                    
                    
                </ul>
                <div class="container-arredondado-glassmorphism d-none d-lg-flex col-lg-2 justify-content-center gap-2 align-items-center">
                    <a class="link-area-clicavel" href="./public/images.jpeg" download="Currículo-LeonardoMagno.pdf"></a>
                    <svg class="icon-download" width="16" height="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                        <path d="M12 3v11m0 0l-4-4m4 4l4-4M5 21h14" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <a href="">Currículo</a>

                </div>
                <div class="container-arredondado-glassmorphism d-none d-lg-flex col-lg-1 button-light-dark-mode" id="button-claro-escuro">
                    <div class="bolinha-indicador-button"></div>
                    <img src="" alt="icone modo escuro" class="icone-lua-btn-header">
                    <img src="" alt="icone modo claro" class="icone-sol-btn-header">
                </div>
            </div>
            
        </div>
    </header>