<section class="mb-5 d-flex flex-column align-items-center" style="height: 50vh;">
    <title-section texto-titulo="contato"></title-section>
    <div class="container-section-contato justify-content-center row row-cols-2 row-cols-lg-4 row-gap-5">
        <div class="container-container-contato p-0 m-0 col">
            <div class="container-contato">
                <a href="" class="area-clicavel"></a>
                <img src="" alt="" class="imagem-contato">
            </div>
        </div>
        <div class="container-container-contato p-0 m-0 col">
            <div class="container-contato">
                <a href="" class="area-clicavel"></a>
                <img src="" alt="" class="imagem-contato">
            </div>
        </div>
        <div class="container-container-contato p-0 m-0 col">
            <div class="container-contato">
                <a href="" class="area-clicavel"></a>
                <img src="" alt="" class="imagem-contato">
            </div>
        </div>
        <div class="container-container-contato p-0 m-0 col">
            <div class="container-contato">
                <a href="" class="area-clicavel"></a>
                <img src="" alt="" class="imagem-contato">
            </div>
        </div>
    </div>
</section>